body, html {
	height: 100%;
	background-repeat: no-repeat;
	background:white;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.desc {
  margin-left: 30px;
}

code {
	font-family: 'Bentham', serif;

}


.menu-appear {
  opacity: 0;
}

.menu-appear.menu-appear-active {
  opacity: 1;
	transition: opacity .5s ease-in-out .5s;
}

.tab-appear {
  opacity: 0;
}

.tab-appear.tab-appear-active {
  opacity: 1;
	transition: opacity .5s ease-in-out .8s;
}